/* ==========================================================
   ABOUT PANEL
   ========================================================== */

.aboutPanel {
  min-height: 100vh;

  font-family:
    "MyFont",
    "Inter",
    system-ui,
    -apple-system,
    "Segoe UI",
    sans-serif;
/*
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 255, 255, 1) 42%,
    rgba(255, 255, 255, 1) 58%,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 0) 100%
  ); */
}


/* ---------------- TEXT ---------------- */

.aboutPanel .panelTextWrap {
  max-width: 68ch;
}

.aboutPanel .panelText {
  margin: 0 0 14px;

  font-size: clamp(16px, 1.05vw, 18.5px);
  line-height: 1.72;
  font-weight: 600;

  color: black;
  text-align: left;
}

.aboutPanel .panelText strong {
  font-size: 19px;
  letter-spacing: 0.1em;
  font-weight: 600;
}

/* ---------------- IMAGE ---------------- */

.aboutPanel .panelImgWrap {
  width: 68ch;
  max-width: 100%;
  margin: 0 auto 16px;
}

.aboutPanel .panelImg {
  display: block;
  width: 100%;
  margin: 0;
}


/* ---------------- HEADINGS ---------------- */

.aboutPanel .panelText--heading {
  margin: 20px 0 4px;
  padding-bottom: 2px;

  border-bottom: 3px solid black;

  font-size: 19px;

  font-weight: 600;
  letter-spacing: 0.1em;
}

.aboutPanel .panelText--subheading {
  margin: 8px 0 0px;

  font-weight: 600;
  opacity: 1;
}


/* ---------------- LISTS ---------------- */

.aboutPanel .panelList {
  margin: 0 0 18px 1.2em;
  padding: 0;
}

.aboutPanel .panelListItem {
  margin: 0 0 3px;
  line-height: 1.6;
}

.aboutPanel .panelListItem strong {
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 16px;
}