/* =========================
   ALBUMS & TEXTS VIEW
   ========================= */
.musicAlbumsView {
  position: relative;
  width: 100%;
}

.musicAlbumsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  width: clamp(780px, 95vh, 1150px);
  max-width: 100%;
  
  margin: 0 auto;
  gap: 0;
}

.musicAlbumTile {
  display: block;
  margin: 0;
  padding: 0;
}

.musicAlbumTile img {
  display: block;

  width: 100%;
  height: auto;

  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}

.musicAlbumTile:hover img {
  transform: scale(1.025);
  opacity: 0.85;
}


.musicAlbumTile:last-child {
  grid-column: 1 / -1;
}

.musicAlbumsView .viewerBackBtn {
  font-size: 38px;
}

/* ---------------- ALBUM DECORATIONS ---------------- */
/*.fakirDecoration {
  display: block;

  width: 100%;
  max-width: 780px;
  height: auto;

  margin: 0 auto;
}
*/
.sroubaDecoration {
  position: absolute;
  width: 390px;
  height: auto;

  transform: rotate(90deg);
  top: 110px;
  left: 1105px;

  z-index: 5;
  pointer-events: none;
}

.sroubaDecoration1 {
  position: absolute;
  width: 350px;
  height: auto;

  transform: rotate(270deg);
  top: 400px;
  left: 60px;

  z-index: 5;
  pointer-events: none;
}

.sroubaDecoration2 {
  position: absolute;
  width: 300px;
  height: auto;

  transform: rotate(180deg);
  top: 5px;
  left: 55px;

  z-index: 5;
  pointer-events: none;
}

@media (min-height: 1000px) {

  .sroubaDecoration {
    width: clamp(350px, 32vh, 390px);
    left: calc(50% + clamp(470px, 44vh, 525px));
  }

  .sroubaDecoration1 {
    width: clamp(315px, 29vh, 350px);

    left: auto;
    right: calc(50% + clamp(475px, 44vh, 530px));
  }

  .sroubaDecoration2 {
    width: clamp(270px, 25vh, 300px);

    left: auto;
    right: calc(50% + clamp(520px, 48vh, 580px));
  }
}