.contactPanel {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  padding-bottom: 330px;
  box-sizing: border-box;
}

.rightPanel--contact {
  background: transparent;
}

.rightPanel--contact .panelInner {
  background: transparent;
}

.rightPanel--contact .closeBtn {
  top: 12px;
  right: 12px;

  position: absolute;

  border: none;
  background: transparent;

  font-size: 38px;
  cursor: pointer;
}

.contactPanelImg {
  width: 360px;
  max-width: 15%;
  height: auto;
  display: block;
}

.contactEmail {
  font-family: "Inter", system-ui, -apple-system, Segoe UI, sans-serif;
  font-size: 22px;
  color: #1f1f1f;
  text-decoration: none;
  margin-bottom: 15px;

}

.contactEmail:hover {
  opacity: 0.5;
}

.contactEmailImg {
  display: block;
  width: 350px;
  height: auto;
}

.contactEmailImg:hover {
  opacity: 0.7;
}


/* ==========================================================
   MOBILE PORTRAIT
   ========================================================== */

@media (max-width: 600px) and (orientation: portrait) {

  /* Hide panel close button */
  .rightPanel--contact .closeBtn {
    display: none;
  }

  .contactPanelImg {
    width: 210px;
    max-width: 80%;
    margin-top: -270px;
  }

  .contactEmailImg {
  width: 300px;
  max-width: 100%;
  margin-top: -310px;
}
}