/* =========================================================
   FILM LIST
   ========================================================= */

.films-panel {
  width: min(780px, 100%);
  margin: 0 auto;
  padding: 95px 0 0;
  box-sizing: border-box;

  transform: translateX(170px);
}

.films-list {
  margin: 0;
  padding: 0;
}

.film-item {
  display: grid;
  grid-template-columns: 70px 1fr;
  column-gap: 24px;
  margin: 0 0 12px 0;
  align-items: baseline;
}

.film-year {
  text-align: right;
  font-size: 17px;
  font-weight: 600;

  font-family:
    "MyFont",
    "Inter",
    system-ui,
    -apple-system,
    "Segoe UI",
    sans-serif;
}

.film-link {
  display: inline-block;
  padding: 0;
  border: none;
  background: transparent;

  font-size: 20px;
  font-weight: 600;

  font-family:
    "MyFont",
    "Inter",
    system-ui,
    -apple-system,
    "Segoe UI",
    sans-serif;

  color: inherit;
  text-decoration: underline;
  text-align: left;

  cursor: pointer;
}

.film-link:hover {
  opacity: 0.45;
}


/* =========================================================
   CLOSE BUTTON — FILM LIST
   ========================================================= */

.rightPanel--film .closeBtn {
  top: 12px;
  right: 12px;
  position: absolute;

  padding: 0;
  border: none;
  background: transparent;

  font-size: 38px;
  cursor: pointer;
}