.page {
  min-height: 100vh;

  position: relative;

  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  overflow: hidden;
}


.headerBlock {
  position: absolute;
  top: clamp(50px, 7vh, 120px);
  left: 120px;

  width: 700px;
  height: 420px;

  z-index: 999;
}


.langBar {
  position: absolute;
  bottom: 5px;
  left: 20px;
  z-index: 999;
}

/* Force vertical layout */
.langBar .flagWrap {
  flex-direction: column;
  gap: 5px;
}


.menuBtn {
  position: absolute;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-flex;

  margin: 0;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}



/* Hide ugly focus ring for mouse focus */
.menuBtn:focus,
.contactBtn:focus,
.nameLink:focus,
.flagBtn:focus,
.viewerBackBtn:focus,
.pageArrow:focus {
  outline: none;
}

.menuImg {
  height: 52px;
  width: auto;
  object-fit: contain;
  cursor: pointer;
  transition: opacity 0.2s ease, transform 0.2s ease;
  /*background: rgba(255, 0, 0, 0.2); */
}

/* Per-button sizing and position ENGLISH */

.menuImg--name {
  width: 220px;
  height: auto;
}
.lang-en .menuBtn--name {
  left: 349px;
  top: -15px;
}

.menuImg--contact {
  height: 38px;
}
.lang-en .menuBtn--contact {
  left: 620px;
  top: 60px;
  transform: rotate(0deg);
}

.menuImg--writings {
  height: 38px;
}
.lang-en .menuBtn--writings {
  left: 245px;
  top: 115px;
  transform: rotate(0deg);
}


.menuImg--articles {
  height: 45px;
}
.lang-en .menuBtn--articles {
  left: 565px;
  top: 115px;
  transform: rotate(0deg);
}


.menuImg--film {
  height: 41px;
}
.lang-en .menuBtn--film {
  left: 355px;
  top: 145px;
  transform: rotate(0deg);
}

.menuImg--music {
  height: 31px;
}
.lang-en .menuBtn--music {
  left: 445px;
  top: 145px;
  transform: rotate(0deg);
}


/* Per-button sizing and position CZECH */
.lang-cs .menuImg--name {
  width: 220px;
  height: auto;
}
.lang-cs .menuBtn--name {
  left: 349px;
  top: -15px;
}

.lang-cs .menuImg--writings {
  height: 49px;
}
.lang-cs .menuBtn--writings {
  left: 235px;
  top: 115px;
  transform: rotate(0deg);
}

.lang-cs .menuImg--film {
  height: 43px;
}
.lang-cs .menuBtn--film {
  left: 345px;
  top: 145px;
  transform: rotate(0deg);
}

.lang-cs .menuImg--music {
  height: 41px;
}
.lang-cs .menuBtn--music {
  left: 447px;
  top: 155px;
  transform: rotate(0deg);
}

.lang-cs .menuImg--articles {
  height: 51px;
}
.lang-cs .menuBtn--articles {
  left: 565px;
  top: 124px;
  transform: rotate(0deg);
}

.lang-cs .menuImg--contact {
  height: 39px;
}
.lang-cs .menuBtn--contact {
  left: 610px;
  top: 70px;
  transform: rotate(0deg);
}

/* Per-button sizing and position RUSSIAN */
.lang-ru .menuImg--name {
  width: 215px;
  height: auto;
}
.lang-ru .menuBtn--name {
  left: 347px;
  top: -5px;
}

.lang-ru .menuImg--contact {
  height: 26px;
}

.lang-ru .menuBtn--contact {
  left: 444px;
  top: -15px;
  transform: rotate(0deg);
}

.lang-ru .menuImg--writings {
  height: 29px;
}

.lang-ru .menuBtn--writings {
  left: 225px;
  top: 130px;
  transform: rotate(0deg);
}

.lang-ru .menuImg--film {
  height: 27px;
}

.lang-ru .menuBtn--film {
  left: 349px;
  top: 152px;
  transform: rotate(0deg);
}

.lang-ru .menuImg--music {
  height: 40px;
}

.lang-ru .menuBtn--music {
  left: 447px;
  top: 159px;
  transform: rotate(1deg);
}

.lang-ru .menuImg--articles {
  height: 31px;
}

.lang-ru .menuBtn--articles {
  left: 575px;
  top: 124px;
  transform: rotate(-2deg);
}

.menuBtn,
.contactBtn {
  position: absolute;

  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* ---------------- LANGUAGE TUNING ---------------- 

.lang-en .menuRow {
  gap: 3px;
  margin-top: -21px;
  transform: none;
}

.lang-en .contactRow {
  transform: translate(119px, -3px);
}


.lang-cs .menuRow {
  gap: 0px;
  margin-top: -28px;
  transform: none;
}

.lang-cs .contactRow {
  transform: translate(145px, 0px);
}


.lang-ru .menuRow {
  margin-top: -22px;
  gap: 8px;
}

.lang-ru .contactRow {
  transform: translate(129px, 12px);
}



.menuBtn:hover .menuImg {
  opacity: 0.5;
  transform: scale(1.05);
}

.nameImg {
  width: clamp(140px, 18vw, 300px);
  height: auto;

  max-height: 16vh;
  object-fit: contain;

  transition: opacity 0.2s ease, transform 0.2s ease;
} */

/* make the name behave like a button but look like an image */
.nameLink {
  background: transparent;
  border: none;
  padding: 0;
  display: inline-block;
  cursor: pointer;
}

/* hover affects the IMAGE, not the whole button */
.nameLink:hover .nameImg {
  opacity: 0.5;
  transform: scale(1.02);
}


.contactBtn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
}

.contactImg {
  width: auto;
  object-fit: contain;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.contactBtn:hover .contactImg {
  opacity: 0.5;
  transform: scale(1.05);
}

/* -------- CONTACT LANGUAGE TUNING -------- */
.lang-en .contactImg {
  height: 39px;
}

.lang-cs .contactImg {
  height: 34px;
}

.lang-ru .contactImg {
  height: 26px;
}


/* ==========================================================
   RESPONSIVE MAIN PAGE
   ========================================================== */


/* Smaller desktops / tablets */
@media (max-width: 1100px) {

  .headerBlock {
    left: 40px;
    transform: scale(0.85);
    transform-origin: top left;
  }

}


/* Tablets */
@media (max-width: 850px) {

  .headerBlock {
    left: 20px;
    top: 40px;

    transform: scale(0.72);
    transform-origin: top left;
  }

}


/* Phones portrait*/
@media (max-width: 600px) and (orientation: portrait) {

  .page {
    background-position: 18% 68%;
    background-size: auto 129%;
  }

  .headerBlock {
    left: -204px;
    top: 80px;

    transform: scale(0.88);
    transform-origin: top left;
  }

  .langBar {
    left: 10px;
    bottom: 10px;
  }

}

/* Narrower phones */
@media (max-width: 390px) and (orientation: portrait) {

  .headerBlock {
    left: -155px;
    top: 40px;
    transform: scale(0.70);
  }

  .langBar {
    left: 5px;
    bottom: 55px;
  }

}


