.writings-panel {
  width: min(780px, 100%);
  margin: 0 auto;
  padding: 65px 0 0;
  box-sizing: border-box;

  transform: translateX(150px);
}

.rightPanel--writings .closeBtn {
  top: 12px;
  right: 12px;
  position: absolute;
  padding: 0;
  border: none;
  background: transparent;
  font-size: 38px;
  cursor: pointer;
}

.writings-list {
  margin: 0;
  padding: 0;
}

.writing-item {
  display: grid;
  grid-template-columns: 70px 1fr;
  column-gap: 24px;
  margin: 0 0 12px 0;
  align-items: baseline;
}

.writing-year {
  text-align: right;
  font-size: 17px;
  font-weight: 600;
  font-family:
    "MyFont",
    "Inter",
    system-ui,
    -apple-system,
    "Segoe UI",
    sans-serif;
}

.writing-link {
  display: inline-block;
  padding: 0;
  border: none;
  background: transparent;

  font-size: 20px;
  font-family:
    "MyFont",
    "Inter",
    system-ui,
    -apple-system,
    "Segoe UI",
    sans-serif;

  color: inherit;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  text-align: left;
}

.writing-link:hover {
  opacity: 0.45;
}