html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  min-height: 100vh;
  background-image: url("./assets/ui/main-page/background.jpg");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  overflow: hidden;
}